/* FIRST DECLARATIONS */
* {
  box-sizing: border-box;
  line-height: 25px;
}

body {
  background-color: #F5F4F4;
  margin: 0;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;

}

/* NAV BAR */
nav {
  height: 62px;
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
  padding-left: 150px;
  padding-right: 150px;
  position: relative;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 24px;
  width:315px;
}

li {
  list-style-type: none;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #444444;

}

a {
  text-decoration: none;
  font-family: 'Lato';
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #444444;

}

.fas {
  size: 1px;
}

.icon-container{
  position: absolute;
  right: 150px;
  top: 24px;
  width: 153px;
  display: flex;
  justify-content: space-between;
}

.icon-article{
  position: absolute;
  right: 40px;
  bottom: 45px;
  width: 138px;
  display: flex;
  justify-content: space-between;

}

.icon-article i {
  color: #C2C2C2;
}



.fab {
  size: 0.5px;
  color: #AAAAAA;
}

.fa-search {
  size: 0.5px;
  color: #AAAAAA;
}

/* MAIN BODY ELEMENT  */
.container {
  background-color: #F5F4F4;
  height: 100%;
  padding-left: 150px;
  padding-top: 50px;
  padding-bottom: 28px;
  position: relative;
  width: 100%;

}

.left-container {
  display: inline-block;
  width: 751px;
  float: left;

}
.right-container {
  display: inline-block;
  width: 361px;
  clear: both;
  margin-left: 30px;
  position: relative;
}

figure{
  width: 750px;
  height: 473px;
  margin: 0;
  display: inline-block;


}

article {
  width: 751px;
  height: 448px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  margin-bottom: 41px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  padding-top: 20px;
  position: relative;
  display: inline-block;
  bottom: 8px;
}



.caption {
  font-family: 'Lato';
  font-style: italic;
  font-size: 14px;
  color: #777777;
  margin-top: 14px;
}


aside{
  border: 0;
  margin-bottom: 39px;
}



.first-aside {

   height: 183px;
   width: 360px;
   background-color: white;
   margin-bottom: 0px;
   /* position: absolute;
   top: 50px;
   right: 150px; */

}

.second-aside {

   height: 325px;
   width: 361px;
   background-color: white;
   /* position: absolute;
   top: 233px;
   right: 150px; */
   border: 1px solid #E7E7E7;
   text-align: center;
}

.second-aside > h5 {
  text-align: center;
  margin-top: 107px;
  font-size: 18px;
  word-spacing: 7px;
  margin-bottom: 20px;
}

.second-aside > p {
  text-align: center;
  padding: 0 30px;
  margin: 0;
}

.third-aside {

   height: 983px;
   width: 361px;
   background-color: white;
   /* position: absolute;
   top: 598px;
   right: 150px; */
   border: 1px solid #E7E7E7;
   padding-left: 30px;
   padding-right: 30px;

}

.fourth-aside {

   height: 515px;
   width: 361px;
   background-color: white;
   /* position: absolute;
   top: 1620px;
   right: 150px; */
   border: 1px solid #E7E7E7;

}

.fifth-aside {

   height: 595px;
   width: 361px;
   background-color: white;
   /* position: absolute;
   top: 2174px;
   right: 150px; */
   border: 1px solid #E7E7E7;

}

.instafeed {
  margin: 0;
  padding-left: 24px;

}


 footer {
  height: 80px;
  width: 100%;
  background-color: #222222;
  color: white;
  text-align: center;

}


h2 {
  font-family: 'Lato';
  font-size: 11px;
  color: #CA5C3C;
  padding-top: 8px;
  margin-bottom: 0;
}

h1 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  margin-top: 8px;
  font-size: 24.5px;
  margin-bottom: 28px;
  word-spacing: 5px;
}

.fat-footer{
  display: flex;
  margin: 0;
  padding:0;
  height: 190px;
  clear: both;

}



button {
  font-family: 'Lato';
  color: #CA5C3C;
  font-size: 13px;
  font-weight: bold;
  background-color: #FFFFFF;
  border: 1px solid #CA5C3C;
  padding: 10px 20px 11px 20px;
  margin-top: 19px;
  word-spacing: 3px;
  margin-bottom: 32px;
}

.box {
  flex:1;
}

p {
  font-family: 'Lato';
  color: #454545;
  text-align: left;
  font-size: 15px;
}

hr {
border-top: 3px;

}

.hr {
  margin-top: 10px;
}

.image {
  width: 300px;
  height: 200px;
}


.third {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h5 {
  font-family: 'Oswald';
  margin-top: 30px;
  margin-bottom: 26px;
  font-size: 19px;
  word-spacing: 5px;
  color: #444444;
  font-weight: 400;
  text-align: center;
}

h6 {
  font-family: 'Oswald';
  margin: 0;
  text-align: left;
  font-size: 14px;
  word-spacing: 1px;
  margin-top: 11px;
  color: #444444;
}

time {
  text-align: left;
  font-family: 'Lato';
  font-style: italic;
  font-size: 14px;
  margin-top: 5px;
  color: #777777;
  margin-bottom: 5px;
}

div {
  margin-bottom: 12px;
}

.fine {
  width: 143px;
  height: 151px;
  display: inline-block;
  margin-bottom: 12px;
  margin-left: 7.5px;

}

.thumbnails {
  padding: 0;
  position: relative;
}



.thumbnails > li > img {
  width: 133px;
  height: 76px;
  padding-left: 30px;
}
 .thumbnails > li > hr{
   margin-top: 13px;
   margin-bottom: 15px;
   margin-left: 30px;
 }

.header1 {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 48px;
  font-size: 14px;
  padding-left: 15px;
  font-weight: normal;
  word-spacing: .5px;

}

.header2 {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 155px;
  font-size: 14px;
  padding-left: 15px;
  font-weight: normal;
  word-spacing: .5px;

}

.header3 {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 262px;
  font-size: 14px;
  padding-left: 15px;
  font-weight: normal;
  word-spacing: .5px;

}

.header4 {
  display: inline-block;
  margin: 0;
  position: absolute;
  top: 369px;
  font-size: 14px;
  padding-left: 15px;
  font-weight: normal;
  word-spacing: .5px;

}

.date1 {
  display: inline-block;
  margin: 0;
  position: absolute;
  font-weight: 300;
  top: 73px;
  font-size: 14px;
  padding-left: 15px;
  font-style: italic;
  word-spacing: .5px;
  color: #777777;
}

.date2 {
  display: inline-block;
  margin: 0;
  position: absolute;
  font-weight: 300;
  top: 180px;
  font-size: 14px;
  padding-left: 15px;
  font-style: italic;
  word-spacing: .5px;
  color: #777777;
}

.date3 {
  display: inline-block;
  margin: 0;
  position: absolute;
  font-weight: 300;
  top: 287px;
  font-size: 14px;
  padding-left: 15px;
  font-style: italic;
  word-spacing: .5px;
  color: #777777;
}

.date4 {
  display: inline-block;
  margin: 0;
  position: absolute;
  font-weight: 300;
  top: 394px;
  font-size: 14px;
  padding-left: 15px;
  font-style: italic;
  word-spacing: .5px;
  color: #777777;
}

.hhhh {
  margin: 0;

}

.second-aside > img {
  width: 182px;
  height: 182px;
  border-radius: 50%;

  position: absolute;
  top: 100px;
  right: 91px;
  z-index: 2;
  border: solid 7px white;
}

a:hover {
  color: #CA5C3C;
}

i:hover {
  color: #CA5C3C;;
}

.image > a > img:hover {
  opacity: 0.3;

}

.nav-container > li:hover {
  color: #CA5C3C;
}

button:hover {
  background-color: #CA5C3C;
  color: white;
}

/* .fourth {
  text-align: center;
  margin-top: 20px;
  display: inline-block;
  padding-left: 80px;
} */



.fourth > i {
margin-top: 17px;
padding: 9px;
border: solid 1px gray;
border-radius: 50%;
}

.fourth > i:hover {
  color: #CA5C3C;;
}

@media (max-width: 900px) {
  figure, article {
    width: 600px;
  }
  .first-aside, .second-aside,.third-aside,.fourth-aside,.fifth-aside {
    width: 600px;
  }
}

@media (max-width: 1290px) {
  footer {
    position: absolute;
    top: 7900px;
  }
  .fat-footer {
    position: absolute;
    top: 7750px;
  }
}
